<!DOCTYPE html>
<head>
  <title>About</title>
  <link rel="stylesheet" href="/css/stylesheet.css">
  <link rel="icon" href="/img/icon.png">
</head>
<body>
  <div class="main-content">
      {{>header}}
      <img class="portrait" src="/img/android.jpg" alt="android">
  </div>
  {{>footer}}
</body>
